table {
  border-collapse: collapse;
}

tr:nth-child(2n), thead {
  background-color: #EEE;
}
th {
  font-variant: small-caps;
}

th, td {
  border-style: inset;
  border-width: 2px;
  min-width: 100px;
}